<section class="why-choose-us-container">
    <!-- Partie gauche : Pourquoi nous choisir -->
    <div class="left-column">
      <h2>Why Choose Us?</h2>
      <div class="features">
        <div class="feature">
          <i class="fas fa-check-circle"></i>
          <div class="feature-content">
            <strong>Advance Care</strong>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="feature">
          <i class="fas fa-check-circle"></i>
          <div class="feature-content">
            <strong>Online Medicine</strong>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="feature">
          <i class="fas fa-check-circle"></i>
          <div class="feature-content">
            <strong>Medical & Surgical</strong>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="feature">
          <i class="fas fa-check-circle"></i>
          <div class="feature-content">
            <strong>Lab Test's</strong>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" [routerLink]="['appointment']">Appointment</button>
    </div>
  
    <!-- Partie droite : Urgence -->
    <div class="right-column">
      <h2>Emergency? <br />Contact Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis iste,
        quam ratione rerum aliquid esse vero placeat?
      </p>
      <div class="contact-info">
        <div class="contact-item">
          <i class="fas fa-phone"></i>
          <div>
            <small>Call Us Now</small>
            <strong>+123 4567 89</strong>
          </div>
        </div>
        <div class="contact-item">
          <i class="fas fa-envelope"></i>
          <div>
            <small>Mail Us</small>
            <strong>info&#64;example.com</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  