<section class="hero">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="hero-heading">{{ heroHeading }}</h1>
        <p class="hero-text">{{ heroText }}</p>
        <div class="hero-buttons">
          <button class="btn btn-blue">
            <i class="fas fa-search"></i> Find Doctor's
          </button>
          <button class="btn btn-dark-blue" [routerLink]="['appointment']">Book Appointment</button>
          
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/images/doctor.jpg" alt="Doctor with stethoscope">
      </div>
    </div>
  </section>
