<section class="doctors-section">
    <div class="doctors-container">
      <div class="doctors-header">
        <h2>Meet Our Specialist</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      
      <div class="doctors-grid">
        <div class="doctor-card" *ngFor="let doctor of doctors; let i = index" [class.active]="i === currentSlide">
          <div class="doctor-image">
            <img [src]="doctor.image" [alt]="doctor.name">
          </div>
          <div class="doctor-info">
            <h3>{{ doctor.name }}</h3>
            <p>{{ doctor.title }}</p>
          </div>
        </div>
      </div>
      
      <div class="doctors-navigation">
        <div class="navigation-dots">
          <span 
            *ngFor="let doctor of doctors; let i = index" 
            class="dot" 
            [class.active]="i === currentSlide"
            (click)="goToSlide(i)">
          </span>
        </div>
      </div>
    </div>
  </section>
